@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #c93b10;
    --color-primary-bg: #c93b10;
    --color-primary-bg-dark: #261814;
    --color-primary-lines: #c93b10;
    --color-primary-lines-dark: #4a2013;
    --color-lines: #e5e7eb;
    --color-lines-dark: #525252;
}